<style>
  .modal-content{
    background-color: #212121
  }
</style>

<!-- More Info -->
<div class="modal fade" id="moreInfo-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moreInfo">{{ item.name }}</h5>
        <button type="button" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ item.description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline btn-info" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline btn-success">Purchase</button>
      </div>
    </div>
  </div>
</div>

<!-- Purchase Confirmation -->
<div class="modal fade" id="purchaseConfirm-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="purchaseConfirm">Purchase Confirmation</p>
        <button type="button" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ purchase_form.hidden_tag() }}
          <br>
          <h4 class="text-center">Do you want to buy {{ item.name }}?</h4>
          <p class="text-center">Click "Purchase" to purchase</p>
          <br>
          <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.name}}">
          {{ purchase_form.submit(class="btn btn-outline-success btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline btn-info" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>