<style>
  .modal-content{
    background-color: #212121
  }
</style>

<!-- Sell Confirmation -->
<div class="modal fade" id="sellConfirm-{{ owned_item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="sellConfirm">Sell Confirmation</p>
        <button type="button" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ sell_form.hidden_tag() }}
          <br>
          <h4 class="text-center">Do you want to sell {{ owned_item.name }}?</h4>
          <p class="text-center">Click "Sell" to sell</p>
          <br>
          <input id="sold_item" name="sold_item" type="hidden" value="{{owned_item.name}}">
          {{ sell_form.submit(class="btn btn-outline-danger btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline btn-info" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>